body {
	background-position: center top;
	background-attachment: fixed;
}

/*----------------------------------------------------------------------
    Header & Navigation (#xg_head and descendants)
----------------------------------------------------------------------*/
#xg_masthead {
	height: 141px;
	min-height: 141px;
}
#xg_head > #xg_masthead {
	height: auto;
}
#xg_masthead p#xg_sitename {
	padding:75px 0 0 50px;
}
#xg_masthead p#xg_sitedesc {
	padding:0 0 0 50px;
}
#xg_navigation ul {
	float:right;
	margin-top: 108px;
}
#xg_navigation ul li {
	text-transform:uppercase;
}
#xg_navigation ul li a {
	background-color: #101010;
}
#xg_navigation ul li a:hover {
	color: #ccc;
}


/*----------------------------------------------------------------------
    Body (#xg_body and descendants)
----------------------------------------------------------------------*/
#xg_body {
    background-color:transparent;
}
h1,
.xg_module_head h2,
.xg_module_body h3 {
	text-transform:uppercase;
}
#xg #xg_body h1 {
    color: #999999;
}
.xg_module {
	margin-bottom: 2em;
}
.xg_module_head {
	margin-bottom:0;
    border-left: 3px solid #F07E0B;
}
.xg_module_body, 
.xg_module_foot {
	border-bottom: 1px solid #333;
}
ul.pagination li.this span {
    background-color: #2C2A2A;
   	border: 1px solid #191818;
    color: #F07E0B;
}
.xg_module_body h3,
.xg_module_body caption {
    color: #ccc;
}
#xg_body ul.navigation {
	position: static;
	float: left;
	clear: both;
	border-bottom: 1px solid #333;
}
#xg_body ul.navigation a {
	color: #ccc;
}

/*----------------------------------------------------------------------
    Footer (#xg_foot and descendants)
----------------------------------------------------------------------*/
#xg_foot,
#xg_foot a {
	background-color: #191818;
    color:#777;
}
