body {
    background-position: center top;
	background-repeat: repeat-x;
}

#xg {
	background-color: transparent;
    background-position: center -28px;
}


/*----------------------------------------------------------------------
    Header & Navigation (#xg_head and descendants)
----------------------------------------------------------------------*/
#xg_masthead {
    padding-bottom:10em;
}

	#xg_masthead p#xg_sitename {
	    font-weight: normal;
	    font-size: 6em;
	}

		#xg_masthead p#xg_sitename a {
		    letter-spacing: -.05em;
		}

#xg_navigation {
	font-family: Futura, "Avant Garde", "Century Gothic", "Gill Sans MT", sans-serif;
}

	#xg_navigation ul {
	    margin-left: 0;
	}

		#xg_navigation ul li a {
		    color: #bfe1b6;
		    font-weight: normal;
		    font-size: 150%;
		}

		#xg_navigation ul li.this a,
		#xg_navigation ul li a:hover {
		    color: #fff;
			background-color: transparent;
		}


/*----------------------------------------------------------------------
    Body (#xg_body and descendants)
----------------------------------------------------------------------*/
h1,
.xg_module_head h2,
.xg_module_body h3,
.xg_module_body caption {
	font-weight: normal;
}

#xg #xg_body h1 {
	color: #ff6;
}

.xg_module_body,
.xg_module_foot {
    background: #C1E3E7 url(/xn_resources/widgets/index/gfx/themes/Family/xg_module_body.jpg) repeat-x;
    border:solid #abb;
    border-width:0 1px 1px 0;
}

ul.pagination li.this span {
    background-color: #CDEB8B;
    border-color: #CDEB8B;
    color: #333333;
}

#xg_body ul.navigation {
	position: static;
	float: left;
	clear: both;
	border-bottom: 1px solid #CDEB8B;
}

#xg_body ul.navigation a {
	color: #ff6;
}

ul.page_tabs li.this {
	background-color: #C1E3E7;
}


/*----------------------------------------------------------------------
    Footer (#xg_foot and descendants)
----------------------------------------------------------------------*/
#xg_foot {
    color: #cdeb8b;
}

#xg_foot a {
    color: #fff;
}
