/* Page Title */
#xg_body h1,
#xg_body ul.navigation a,
#xg_navigation ul li.this a,
#xg_navigation ul li a:hover,
.navigation-solo,
.navigation-solo a {
  color: #35160b !important;
}
/* Page */
#xg_body,
#xg_navigation ul li.this a,
#xg_navigation ul li a:hover {
  background-color: #cbc5a4;
}
/* Module Body: Background & Text */
.xg_module_body, .xg_module_foot {
  background-color: #fff8d5;
}
.xg_module_head {
  border-top:1px solid #6b2d17;
}
