/*----------------------------------------------------------------------
	Page
----------------------------------------------------------------------*/
.wpage {
	clear:left;
	margin-bottom:2em;
}
.wpage h3 small {
	font-size:75%; font-weight:lighter;
}